:root {
  --primary-color: #de33bc;
  --fade-speed: 0.5s;
}

* {
  margin:0;
  padding: 0px;
  box-sizing: border-box;
}

/* Utilities */

body {
  font-family: 'Epilogue', sans-serif;
  color: #fff;
  background: #000;
  line-height: 1.2;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, h4 {
  font-family: 'Rock Salt', cursive;
  margin: 0;
}

.headers {
  color: var(--primary-color);
}

.section-headers {
  text-align: center;
  padding: 2px;
  margin: 20px;
}

/* this is used in several Sections */
.container {
  padding:0 4rem;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

.section-padding {
  padding-top: 100px;
}

/* -- NavBar-- */

.navbar {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #000;
  top: 0;
  width: 100%;
  height: 70px;
  opacity: 0.9;
  z-index: 1;
}

.navbar .logo {
  width: 50%;
  margin-top: 30px;
  padding-left: 10px;
 }

 .navbar .logo img{
  height: 45%;
  width: 45%;
}

.navbar .menu {
  margin-top: 30px;
  padding-right: 10px;
}

.navbar ul li {
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  margin-right: 5px;
  border-bottom: 2px transparent;
  transition: all var(--fade-speed) ease-in-out;
}

.navbar ul li a {
  color: #fff;
  padding: 0 10px;
  margin: 0px 0px;
  border-bottom: 2px transparent;
  transition: all var(--fade-speed) ease-in-out;
}


.navbar ul li a:hover {
  cursor: pointer;
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.navbar ul li:hover {
  cursor: pointer;
  color: var(--primary-color);
} 

/* DROP DOWN MENU */
  .navbar ul li ul {
    display: none;    
  }

.navbar ul li:hover ul {
  display: block;
  position: absolute;
  float: left;
  background-color: #000;
  padding-top: 7px;
}

.navbar ul li:hover ul li {
  display: block;
  float: left;
  text-align: center; 
  padding: 4px;
  border-bottom: 2px transparent;
}

/* Hero Image */

.hero {
  background: url('../img/rosario-electric-brickwall-hero-04.jpg') no-repeat center center/cover;
  height: 100vh;
  max-width: 100%;
  position: relative;
  color: #fff;
}

/* --Bio/about-- */

.bio-text {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: left;
  padding: 0 200px;
  padding-top: 40px;
}

/* --Media Icon Menu-- */

.media-menu {
  height: 100vh;
  position: relative;
}

.media-icons {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6rem;
  margin: auto;
  overflow: hidden; 
}

#media .icons {
  border: #fff solid 1px;
  padding: 2rem;
}
#media .icons a {
  color: var(--primary-color);
  border-top: 2px transparent;
  border-bottom: 2px transparent;
  transition: border 0.5s ease-in;
}

.icons a:hover {
  cursor: pointer;
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

/* -- Video-- */
.video-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
  margin: 20px;
}

.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* .video-container {
  padding: 40px; 
} 

.video-container iframe{ 
  display: flex;
  padd
  z-index: 0;
}  */

/* --Audio-- */

.audio i {
  color: var(--primary-color);
}


/* --Photos-- */
.photos {
  padding-bottom: 100px;
}

.photo-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 100px 0;
} 

.photo-grid .photo img{
  height: 300px;
  border: 1px dotted var(--primary-color);
}

.photo-grid .photo img:hover{
  cursor: pointer;
  opacity: 0.8;
  border-bottom: 1px solid var(--primary-color);
}

/* --teaching-- */

.education {
background: url('../img/rosario-acoustic-BW-hero-02.jpg') no-repeat center center/cover;
height: 100vh;
max-width: 100%;
position: relative;
padding: 150px 100px 20px 30px;
}

.education .content {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 100%; 
}

.education .content h1{
  font-size: 2.2rem ;
} 

.education .content p {
  text-align: left;
  font-size: 1.3rem;
  font-weight: 400;
  color: #f4f4f4;
  max-width: 750px;
}

.education .content a {
  color: #fff;
  font-size: 28px;
  padding-top: 5px;
  padding-left: 5px;
  border: 2px solid #fff;
  border-radius: 5px;
  width: 180px;
  transition: all var(--fade-speed) ease-in-out;
}

.education .content a:hover {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

/* --Contact Form-- */
.container {
  padding:0 7rem;
  margin: auto;
  overflow: hidden;
}

#contact .text-fields {
  display: grid;
  grid-template-areas:
  'name email'
  'subject phone'
  'message message';
  grid-gap: 1.2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.name-input {grid-area: name;}
.subject-input {grid-area: subject;}
.email-input {grid-area: email;}
.phone-input {grid-area: phone;}
.message-input {
  grid-area: message;
  height: 200px;
}

#contact .text-input {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.2rem;
  padding: 6px;
  border-radius: 3px;
}

#contact .btn {
  cursor: pointer;
  color: var(--primary-color);
  background: #f4f4f4;
  font-size: 1.2rem;
  border-radius: 3px;
  padding: 10px;
  margin: auto;
  width: 30%;
}

.contact-form .btn:hover {
  border: 2px solid #f576db;
  color: #f576db;
}

/* --Footer-- */

.footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.footer .social-icons i{
  color: #de33bc;
  padding-top: 30px;
}

.footer .social-icons a {
  padding: 10px;
}

.footer .social-icons a:hover {
  border-bottom: 1px solid #de33bc;
}

.footer .copyright {
  display: inline;
  padding-top: 10px;
}



@media(min-width: 501px) and (max-width: 1024px) {
  .navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background: #000;
    top: 0;
    max-width: 100%;
    height: 110px;
    opacity: 0.9;
    position: fixed;
    z-index: 1;
    text-align: center;
  }
  
  .navbar ul {
    display: flex;
    flex-direction: row;
  }
  
  .navbar li {
    font-size: 1rem;
    padding: 5px 0;
    padding-right: 60px;
    margin-bottom: 0;
  }
  
  .navbar a {
    color: #fff;
    padding: 10px 0;
    margin: 0;
  }
  
  .navbar ul li a:hover, .navbar ul li a.current {
    color: #de33bc;
    border-bottom: 2px solid #de33bc;
  }
  
  .navbar h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 23px;
    margin-left: 0;
    padding: 0;
  }
  .navbar .logo {
    padding: 0;
   }
  
  .navbar .fas.fa-guitar {
    display: none;
  }

.hero {
  background: url('../img/rosario-electric-brickwall-hero-04.jpg') no-repeat center center/cover;
  height: 100vh;
  max-width: 100%;
  position: relative;
  color: #fff;
}

.bio {
  padding-left: 10px;
  padding-right: 30px;
 }

.bio-text {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
 }

}

/* _______SMART PHONES______________ */
@media(max-width: 500px) {
  
  .navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #000;
    top: 0;
    max-width: 100%;
    height: 70px;
    opacity: 0.9;
    position: fixed;
    z-index: 1;
    text-align: center;
  }
  
  .navbar ul {
    display: flex;
    flex-direction: column;
  }
  
  .navbar li {
    font-size: 1em;
    padding: 10px 0;
    padding-right: 60px;
    margin-bottom: 0;
  }
  
  .navbar a {
    color: #fff;
    padding: 10px 0;
    margin: 0;
  }
  
  .navbar ul li a:hover, .navbar ul li a.current {
    color: #de33bc;
    border-bottom: 2px solid #de33bc;
  }
  
  .navbar h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 23px;
    margin-top: 15px;
    padding-top: 5px;
  }
  .navbar .logo {
    padding: 0;
   }
  
  .navbar .fas.fa-guitar {
    display: none;
    color: #de33bc;
  }

.hero {
  background: url('../img/rosario-electric-brickwall-hero-04.jpg') no-repeat center center/cover;
  height: 100vh;
  max-width: 100%;
  position: relative;
  color: #fff;
}

/* --Bio MOBILE-- */

.bio {
  padding-left: 10px;
  padding-right: 10px;
}
.bio-text {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  padding: 10px;
  max-width: 100%;
}

/* media menu mobile */
.media-menu {
  padding-top: 100px;

}
.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 10px;
}

.icons a {
  padding: 30px 0;
  color: #de33bc;
}

.icons a:hover {
  border-top: 2px solid #de33bc;
  border-bottom: 2px solid #de33bc;
}


/* --Photos MOBILE-- */
.photos {
  padding-bottom: 50px;
}

.photo-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px 0;
} 

.photo-grid .photo img{
  height: 300px;
  border: 1px dotted #de33bc;
  margin-top: 10px;
}

.photo-grid .photo img:hover{
  cursor: pointer;
  opacity: 0.8;
  border-bottom: 3px solid #de33bc;
}

/* --teaching MOBILE-- */
.education {
  background: url('../img/rosario-acoustic-BW-hero-02.jpg') no-repeat center center/cover;
  height: 80vh;
  max-width: 100%;
  position: relative;
  padding: 150px 100px 40px 20px;
}
  
  .education .content {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; 
    padding-right: 30px;
 }
  
  .education .content h1{
    font-size: 40px;
  } 
  
  .education .content p {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    color: #f4f4f4;
    max-width: 750px;
  }
  
  .education .content a {
    color: #fff;
    font-size: 23px;
    padding-top: 5px;
    padding-left: 35px;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 180px;
  }
  
  .education .content a:hover {
    border: 2px solid #de33bc;
    color: #de33bc;
  }

  /* --Contact Form MOBILE-- */


.contact-form {
  background: #f4f4f4;
  padding: 20px;
  margin-top: 80px;
  border-radius: 4px;
 }
  .form-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  align-content: center;
  justify-content: center;
  width: 100%;
 }

.contact-form input {
  display: flex;
  padding: 5px;
  font-size: 16px;
  border: 2px solid #de33bc;
  border-radius: 4px;
  max-width: 100%;
 } 

.contact-form .form-control label {
  display: flex;
  color: #de33bc;
  padding: 5px;
 }
.contact-form .form-control textarea {
  font-family: 'Epilogue', sans-serif;
  font-size: 18px;  
  border: 2px solid #de33bc;
  border-radius: 4px;
  max-width: 100%;
  }

.contact-form .btn {
  display: flex;
  cursor: pointer;
  color: #de33bc;
  background: #f4f4f4;
  font-size: 16px;
  border-radius: 4px;
  border: 2px transparent;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 0;
}

.contact-form .btn:hover {
  border: 2px solid #f576db;
  color: #f576db;
 }

/* --Footer MOBILE-- */

.footer .copyright {
  display: block;
  font-size: 10px;
  padding-top: 5px;
  padding-bottom: 0px;
 }

}
