:root {
  --primary-color: #de33bc;
  --medium-color: #e45bc9;
  --light-color: #ee99dd;
  --font-color: #f4f4f4;
  --bg-color: #191919;
  --fade-speed: 0.5s;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Utilities */

body {
  font-family: 'Epilogue', sans-serif;
  color: var(--font-color);
  background: var(--bg-color);
  line-height: 1.4;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2 {
  font-family: 'Rock Salt', cursive;
  margin: 0;
}

.headers {
  color: var(--primary-color);
}

.section-headers {
  padding: 2px;
  text-align: center;
  margin: auto;
}

/* this is used in several Sections */
.container {
  padding:0 4rem;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

.section-padding {
  padding-top: 100px;
}

/* -- NavBar-- */

.navbar {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  border-bottom: 1px dotted var(--primary-color);
  top: 0;
  width: 100%;
  height: 70px;
  opacity: 0.9;
  z-index: 4;
}

.navbar .logo {
  width: 50%;
  margin-top: 30px;
  padding-left: 10px;
 }

 .navbar .logo img{
  height: 45%;
  width: 45%;
}

.navbar .menu {
  margin-top: 30px;
  padding-right: 10px;
}

.navbar ul li {
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  margin-right: 5px;
  border-bottom: 2px transparent;
  transition: all var(--fade-speed) ease-in-out;
}

.navbar ul li a {
  color: #fff;
  padding: 7px 10px;
  margin: 0px 0px;
  border-bottom: 2px transparent;
  transition: all var(--fade-speed) ease-in-out;
}


.navbar ul li a:hover {
  cursor: pointer;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.navbar ul li:hover {
  cursor: pointer;
  color: var(--primary-color);
} 

.navbar .current {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

/* DROP DOWN MENU */
  .navbar ul li ul {
    display: none;    
  }

.navbar ul li:hover ul {
  display: block;
  position: absolute;
  float: left;
  background-color: var(--bg-color);
  opacity: 0.9;
  padding: 7px 0 5px 0;
  z-index: 2;
}

.navbar ul li:hover ul li {
  display: block;
  float: left;
  text-align: center; 
  margin-bottom: 3px;
  padding: 4px;
  width: 100%;
  border-bottom: 2px transparent;
}

/* -----HOME PAGE----- */
/* Hero Image */

.hero {
  position: relative;
  background: url('../img/rosario-electric-brickwall-hero-04.jpg') no-repeat center center/cover;
  height: 100vh;
  max-width: 100%;
}

.hero .flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .hero-social {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 3rem;
  bottom: 50px;
  opacity: 0.6;
}

.hero .hero-social a {
  color: var(--primary-color);
  padding-bottom: 10px;
  border-bottom: 1px transparent;
}

.hero .hero-social a:hover {
  color: var(--medium-color);
  border-bottom: 1px solid var(--primary-color);
}

/* --Bio/about-- */

.bio-text {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: left;
  padding: 40px 50px;
}

/* --teaching-- */

#education .education-container {
  position: relative;
  background: url('../img/rosario-acoustic-BW-hero-02.jpg') no-repeat center center/cover;
  height: 100vh;
  width: 100%;
  }

/* .education-container::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
  }
   */
  .education-container .content {
    position: absolute;
    text-align: center;
    left: 30%;
    top: 20%;
    height:100%;
    width: 70%;
    z-index: 2;
  }
  
  .education-container .content h1{
    text-align: center;
    font-size: 3rem;
    color: var(--font-color);
    text-shadow: 
    -1px -1px 0 #191919,
    1px -1px 0  #191919,
    -1px 1px 0  #191919,
    1px 1px 0  #191919;
  } 
  
  .education-container .content p {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--font-color);
    /* text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000; */
  }
  
  .education-container .content a {
    text-align: center;
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 400;
    
    border: 2px transparent;
    width: 200px;
    text-shadow: 
    -1px -1px 0 #191919,
    1px -1px 0  #191919,
    -1px 1px 0  #191919,
    1px 1px 0  #191919;
    transition: all var(--fade-speed) ease-in-out;
  }
  
  .education-container .content a:hover {
    color: var(--medium-color);
    border-bottom: 2px solid var(--primary-color);
  }

  .education-container .overlay {
    position: absolute;
    background: rgba(0,0,0,0.5);
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }



/* --Contact Form-- */

#contact {
  margin-bottom: 20px;
}

#contact .contact {
  position: relative;
}
.contact-container {
  padding: 1rem 7rem;
  margin: auto;
  text-align: center;
}

.contact-container h2 {
  padding-bottom: 25px;
}

.contact-container p {
  font-weight: 300;
  text-transform: uppercase;
}

.contact-container .email {
  text-transform: uppercase;
  color: var(--primary-color);
  opacity: 0.9;
  width: 300px;
  margin: 0 auto 15px auto;
}

.contact-container .email a{
  color: var(--medium-color);
  margin-bottom: 15px;
  transition: all var(--fade-speed) ease-in-out;
}

.contact-container .email a:hover {
  cursor: pointer;
  color: var(--light-color);
}

#contact .text-fields {
  display: grid;
  grid-template-areas:
  'name email'
  'subject phone'
  'message message';
  grid-gap: 1.2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

#contact .text-input {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.2rem;
  padding: 6px;
  border: none;
  border-radius: 3px;
}

.name-input {grid-area: name;}
.subject-input {grid-area: subject;}
.email-input {grid-area: email;}
.phone-input {grid-area: phone;}
.message-input {
  padding: 0;
  grid-area: message;
  height: 200px;
}

#contact .submit-btn {
  cursor: pointer;
  background: transparent;
  color: var(--medium-color);
  font-size: 1.2rem;
  border: none;
  border: 2px solid var(--primary-color);
  border-radius: 3px;
  margin: auto;
  padding: 5px;
  width: 200px;
  transition: all var(--fade-speed) ease-in-out;
}

#contact .submit-btn:hover {
  border: 2px solid var(--light-color);
  color: var(--light-color);
}

/* -------MEDIA PAGE------- */
/* --Media Icon Menu-- */

.media-menu {
  position: relative;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.media-icons {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 7rem;  
  padding: 1rem;
  top: 40%;
}

#media .icons {
  opacity: 0.9;
  padding: 1rem;
  text-align: center;
  border: 2px transparent;
  transition: border var(--fade-speed) ease-in-out;
}
#media .icons a {
  color: var(--primary-color);
}

#media .icons:hover {
  cursor: pointer;
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

/* -- Video-- */
.video-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
  margin: 20px;
}

.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* --Audio-- */
#audio .audio-container {
  position: relative;
  text-align: center;
  height: 90vh;
  padding: 1rem;
}
#audio i {
  color: var(--primary-color);
  margin-top: 25vh;
}


/* --Photos-- */

#photos .photo-container {
  position: relative;
  height: 90vh;
  padding: 1rem;
}

#photos .photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  border: 1px solid #fff;
  width: 80%;
  margin: auto;

} 

#photos .photo-grid .photo img {
  height: 90%;
  width: 90%;
  border: 1px dotted var(--primary-color);
}

#photos .photo-grid .photo img:hover{
  cursor: pointer;
  opacity: 0.7;
  border-bottom: 1px solid var(--primary-color);
}

/* --Footer-- */

.footer {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px dotted var(--primary-color);
  padding: 15px 0;
  line-height: 1.8;
}

.footer .social-icons {
  margin-bottom: 1rem;
  opacity: 0.8;
} 

.footer .social-icons a {
  color: var(--primary-color);
  padding: 1rem 1rem 10px 1rem;
}

.footer .social-icons a:hover {
  color: var(--medium-color);
  border-bottom: 1px solid var(--primary-color);
}

#footer .bottom-text {
  text-align: center;
  width: 400px;
}

#footer .bottom-text a:hover {
 color: var(--primary-color)
}

